
.results {
    background-color: #f2f0f0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0px;
    gap: 10px;
    flex-wrap: wrap;
    overflow: auto;
    scroll-behavior: smooth;
    margin: auto;
  }
  
  .resultsCards {
    height: 286px;
    width: 162.5px;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
    box-shadow: 1px 1px 16px 1px rgb(210, 209, 209);
  }

  .imgs {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .resultBoxHeading {
    text-align: left;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    width: 140px;
    height: 40px;
    /* margin: 5px 0xp; */
    margin-bottom: 10px;
  }

  
.quantity {
    color: rgb(131, 131, 131);
    font-size: 13px;
    height: 20px;
    width: 140px;
  }
  
  .price{
    font-size: 12px;
    font-weight: 600;
}

.cardBoxHeading {
  text-align: left;
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 13px;
  width: 140px;
  /* height: 40px; */
  /* margin: 5px 0xp; */
}
  