.parentBox {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("../../public/Images/LoginImage.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginImg {
  width: 65%;
}
.loginBox {
  width: 35%;
  align-content: center;
}

.loginBox > div {
  border-radius: 5px;
  margin: 30px;
  min-height: 60%;
  padding: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
}

.input {
  width: 90%;
  padding: 8px;
  border-radius: 2px;
  font-size: 18px;
  border-width: 1px;
  font-size: 16px;

}

.labels div {
  margin-bottom: 10px;
}
